<%= link_to post_path(post), remote: true, class: "post-item" do %>
  <div class="post-card">
    <div class="post-image">
      <%= image_tag post.img.url %>
      <div class="post-content">
        <h2 class="post-title">
          <%= post.title.truncate(10) %>
        </h2>
        <div class="post-user">
          <%= post.user.nickname %>
        </div>
      </div>
    </div>
  </div>
<% end %>