<div class="column" id="sidebar">
  <aside class="menu">
    <p class="menu-label">
      部位一覧
    </p>
    <ul class="menu-list">
      <li><a>もも肉</a></li>
      <li><a>むね肉</a></li>
      <li><a>かわ</a></li>
      <li><a>ハツ</a></li>
    </ul>
  </aside>
</div>