<%= render 'shared/header' %>

<div class="toppage">
  <%= render 'shared/sidebar'%>

  <div class="contents">
    <div id="modal-section"></div>
    <%= render partial: 'shared/post', collection: @posts %>
  </div>
</div>