.sign{
  display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
  background: #F7F7F7;
  .sign-card{
    background: #fff;
		width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
    .sign-title{
      background-color: darken($primary, 5%);
      padding: 2rem;
      color: #fff;
			text-align: center;
			font-size: 1.4rem;
    }
    .new_user{
      padding: 3rem 2.5rem 5rem;
    }
    #user_email,
    #user_password,
    #user_password_confirmation{
      display: block;
      width: 100%;
      font-size: 1rem;
      margin-bottom: 1.75rem;
      padding: 0.25rem 0;
      border: none;
      border-bottom: 1px solid $grey-lighter;

			&:hover {
				border-color: $grey;
			}

			&:active, &:focus {
				border-color: $primary;
			}
    }
    .sign-link{
      display: block;
      float: right;
      padding: 1rem 0;
      cursor: pointer;
			font-size: 1rem;
			color: $primary;

      &:hover, &:focus {
				color: darken($primary, 10%);
				border-color: darken($primary, 10%);
			}

			&:active {
				transform: translateY(1px);
			}
    }
    .sign-button {
			cursor: pointer;
			font-size: 1.2rem;
			color: $primary;
			border-radius: 4rem;
			display: block;
			width: 100%;
			background: transparent;
			border: 2px solid $primary;
			padding: 0.9rem 0 1.1rem;
			transition: color .5s, border-color .5s;

			&:hover, &:focus {
				color: darken($primary, 10%);
				border-color: darken($primary, 10%);
			}

			&:active {
				transform: translateY(1px);
			}
		}
  }
}