.newpost{
  display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  background: #F7F7F7;
  .newpost-card{
    background: #fff;
    width: 40rem;
    height: 100%;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
    margin: 1rem 0;
    .newpost-title{
      background-color: darken($warning, 5%);
      padding: 2rem;
      color: black;
      text-align: center;
      font-size: 1.75rem;
    }
    .new_post{
      padding: 3rem 2.5rem 5rem;
      #img-field,
      #title-field,
      #body-field,
      #category-field,
      #restaurant-field{
        margin-bottom: 0;
        #post_title,
        #post_body{
          display: block;
          width: 100%;
          font-size: 1rem;
          padding: 0.25rem 0;
          border: none;
          border-bottom: 1px solid $grey-lighter;
    
          &:hover {
            border-color: $grey;
          }
    
          &:active, &:focus {
            border-color: $primary;
          }
        } 
        .error{
          color: red;
          font-size: 0.75rem;
        }
      }
      #img-field{
        height: 30rem;
        img{
          height: 25rem;
          width: 35rem;
        }
      }
      #title-field{
        height: 5rem;
      }
      #body-field{
        height: 7rem;
      }
      #category-field{
        height: 13rem;
        .category-index{
          display: flex;
          flex-wrap: wrap;
          .category-parts{
            display: flex;
            padding: 0.5rem 0.5rem;
            height: 2rem;
            .parts{ 
              margin-left: 0.5rem;
            }
          }
        }
      }
      #search{
        font-weight: bold;
        font-size: 0.75rem;
        margin: 0.5rem 0;
      }
      #ul{
        padding: 1rem 0;
        #li{
          padding:1rem 0;
        }
      }
    }
  }
    
  .post-button {
    cursor: pointer;
    font-size: 1.2rem;
    color: black;
    border-radius: 4rem;
    display: block;
    width: 75%;
    background: $warning;
    padding: 0.9rem 0 1.1rem;
    transition: color .5s, border-color .5s;
    margin: 0 auto;

    &:hover, &:focus {
      background: darken($warning, 10%);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
