.modal{
  display: block;
  .modal-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    #modal-del{
      float: right;
      margin: 10px 10px 0 0;
      &:hover {
				opacity: 0.7;
			}
    }
  }
  .modal-card{
    position: absolute;
    background-color: #fff;
    width: 60rem;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto ;
    text-align: center;
    #modal-header{
      background-color: black;
      padding-top: 1.25rem;
      #modal-user{
        color: #fff;
        margin-left: 10px;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
      #modal-icon{
        color: #fff;
        margin-left: 1.25rem;
        font-size: 1.5rem;
        &:hover {
          opacity: 0.7;
        }
      }  
    }
    #modal-line{
      border-bottom : 1px solid #ccc;
      margin: 20px 60px 0;
      padding-bottom: 20px;
    } 
    .modal-comment{
      padding: 0 4rem;
      margin-top: 100px;
      #comment-button{
        font-weight: bold;
        font-size: 0.75rem;
        margin-top: 0.5rem;
        float: right;
      }
      .comment-index{
        padding: 20px 0;
        text-align: left;


      }
    }
  }
}